$sfPro: 'SF Pro Display';
$sfCompact: 'SF Compact Display';
$helvetica: 'HelveticaNeueCyr';


//colors
$red: #FF0000;
$blue: #006FEB;
$black: #000000;
$white: #fff;
$grey: #C1C1C1;
$dark-grey: #777777;
$body-bg: #222524;