@media screen and (max-width: 1200px) {
    .divBlock .etc__description {
        padding-left: 2rem;

    }

    .change {
        height: 80px;
    }

    html {
        font-size: 14px
    }
}

@media screen and (max-width: 991px) {

    html {
        font-size: 12px
    }
}


@media screen and (max-width: 768px) {

    .divBlock .etc__description {
        padding-left: 0;
    }

    header .header-wrap {
        .mobile-button {
            display: flex;
            align-items: center;
            cursor: pointer;

            .line {
                display: block;
                width: 3rem;
                height: 2px;
                position: relative;
                height: 1.5rem;

                &:before {
                    content: '';
                    width: 100%;
                    height: 2px;
                    background: $grey;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: 0.2s;
                }

                &:after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    background: $grey;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: 0.2s;
                }
            }

            &.active {
                .line {
                    &:before {
                        transform: translateY(-50%) rotate(45deg);
                        top: calc(50% - 1px);
                        transition: 0.2s;
                    }

                    &:after {
                        transform: translateY(-50%) rotate(-45deg);
                        bottom: calc(50% - 1px);
                        transition: 0.2s;
                    }
                }
            }
        }

        .nav {
            position: absolute;
            right: 0;
            transform: translateX(100%);
            width: 100%;
            top: 90px;
            transition: 0.2s;
            background: $body-bg;
            height: 100%;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;


            .menu {
                flex-direction: column;
                align-items: center;
                transform: translateY(-35px);
                gap: 1.5rem;

                li {
                    a {
                        font-size: 3rem;

                        .mobile-note {
                            display: none;
                        }
                    }
                }
            }

            &.active {
                transform: translateX(0);
                transition: 0.2s;
            }
        }

    }

    .divBlock .etc {
        grid-template-columns: 1fr;
    }

    .divBlock .etc__img {
        display: none;
    }

    a.mobile-menu-button {
        display: flex;
        align-items: center;
        width: 40px;
        height: 30px;

        .line {
            display: inline-block;
            width: 100%;
            height: 2px;
            position: relative;
            background: $white;
        }

        .line:before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background: $white;
            top: -6px;
            left: 0;
            transition: 0.2s;
        }

        .line:after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background: $white;
            bottom: -6px;
            left: 0;
            transition: 0.2s;
        }


    }

    a.mobile-menu-button.active {
        .line {
            background: transparent;
        }

        .line:before {
            transform: rotate(-45deg);
            top: 0;
            transition: 0.2s;
        }

        .line:after {
            transform: rotate(45deg);
            bottom: 0;
            transition: 0.2s;
        }
    }

    .wrap-menu {
        position: absolute;
        transform: translateX(-50%);
        max-width: 400px;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 576px) {
    header {
        padding: 2rem 0;
    }

    header .header-wrap .nav {
        top: 70px;
    }

    .container {
        padding: 0 2rem;
    }

    .divBlock .etc__description .etc__icon {
        max-width: 80px;
    }
}

@media screen and (max-width: 480px) {

    .change {
        height: 60px;
    }

    .divBlock .etc__description .etc__buttons {
        justify-content: center;
    }

    .qr-link {
        display: none;
    }

    .divBlock .etc__description .etc__icon {
        max-width: 110px;
    }

    .divBlock .etc__description .etc__text {
        font-size: 1.8rem;
        line-height: 2.3rem;
    }

    .divBlock .etc__description .etc__subtitle {
        font-size: 2.6rem;
    }

    .divBlock .etc__description .etc__title {
        font-size: 4.4rem;
    }

    header .header-wrap .nav .menu li a {
        font-size: 2rem;
    }

    header .header-wrap .logo {
        font-size: 2.5rem;
    }

    header .header-wrap .mobile-button .line {
        width: 2rem;
        height: 1rem;
    }

    header .header-wrap .nav .menu li a:hover {
        color: $dark-grey
    }

    .divBlock .etc__description .etc__subtitle {
        max-width: unset;
    }

    .divBlock .etc__description .etc__buttons .button-link {
        max-width: 200px
    }

    // .divBlock {
    //     padding-top: 5rem;
    // }
}

@media screen and (max-width: 375px) {
    .divBlock .etc__description .etc__subtitle {
        font-size: 2rem;
    }

    .divBlock .etc__description .etc__text {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    // .divBlock {
    //     padding-top: 4rem;
    // }
}

@media screen and (max-height: 800px) and (min-width: 576px) {
    html {
        font-size: 12px
    }

    header {
        padding: 1.5rem 0 0;
    }

    .change {
        height: 70px;
    }

    .divBlock {
        padding-top: 0;
    }

    .divBlock .etc__description .etc__title {
        font-size: 4rem;
    }

    .divBlock .etc__description .etc__subtitle {
        font-size: 2.8rem
    }

    .divBlock .etc__description .etc__text {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}


@media (hover: none) and (orientation: landscape) and (max-height:576px) {
    header {
        padding: 2vh 0;
    }

    header .header-wrap .logo {
        font-size: 8vh;
    }

    header .header-wrap .nav .menu li a,
    header .header-wrap .nav .menu li a:visited {
        font-size: 4vh;
    }

    header .header-wrap .nav {
        top: 11vh;
    }

    header .header-wrap .mobile-button .line {
        width: 8vh;
        height: 4vh;
    }

    .qr-link {
        display: none;
    }

    .divBlock .etc__description .etc__icon {
        max-width: 16.5vh;
        margin-bottom: 2vh;
    }

    .divBlock .etc__description .etc__title {
        font-size: 10vh;
    }

    .divBlock .etc__description .etc__subtitle {
        font-size: 6vh;
        max-width: 50vw;
        margin-bottom: 2vh;
    }

    .divBlock .etc__description .etc__text {
        font-size: 4vh;
        line-height: 4.2vh;
    }

    .change {
        height: 12vh;
        margin-bottom: 2vh;
    }

    .divBlock .etc__description .etc__buttons {
        margin: 3vh;
    }

    .divBlock .etc__description .etc__buttons .button-link {
        max-width: 36vh;
    }
}

@media (hover: none) and (orientation: landscape) and (max-height:380px) {
    .content {
        margin-top: 0;
    }

    .change {
        height: 10vh;
        margin-bottom: 2vh;
    }

    .divBlock .etc__description .etc__title {
        font-size: 8vh;
    }

    .divBlock .etc__description .etc__subtitle {
        font-size: 3vw;
    }
}

@media (hover: none) and (orientation: portrait) and (max-width: 576px) {
    .divBlock .etc__description .etc__icon {
        max-width: 20vw
    }

    .change {
        height: 13vw;
    }

    .divBlock .etc__description .etc__title {
        font-size: 11vw;
    }

    .divBlock .etc__description .etc__subtitle {
        font-size: 6vw;
    }

    .divBlock .etc__description .etc__text {
        font-size: 4.5vw;
        line-height: 5vw;
    }

    .divBlock .etc__description .etc__buttons .button-link {
        max-width: 50vw;
    }

    header {
        padding: 4vw 0;
    }

    header .header-wrap .logo {
        font-size: 7vw;
    }

    header .header-wrap .nav {
        top: 16vw;
    }

    header .header-wrap .nav .menu li a {
        font-size: 5vw;
    }
}